<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
</head>
<body>
  <h1>Our Menu</h1>
  <a href="/">Back to Home</a>
  <ul>
    <% menuItems.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong> - ₹<%= item.price %>
        <p><%= item.description %></p>
      </li>
    <% }) %>
  </ul>
</body>
</html>
